//mixins LAS CREAMOS PARA PONER ESTILOS A DOS O MAS COSAS 
//IGUALES 
@mixin btn-base{
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

//variables

$color-main:#0075ff;


//EL HOOVER VA ANIDADO AL PADRE Y SE INCLUYE DENTRO DE EL;
.btn-main{
    @include btn-base();
    color: rgb(248, 247, 247);
    background-color: $color-main;
    border: solid 1px $color-main;
    
    &:hover{
        background-color: white;
        color: $color-main;

    }

    &-s{
        @extend .btn-main;
        @include btn-sm-modify();
        
        
    } 
}
.btn-sec{
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;
    
    &:hover{
        color: #888;
    }
    &-s{
        @extend .btn-sec;
        @include btn-sm-modify();
        
    }
    
}
// ESTILOS PARA EL MENU CREADOS PREVIAMENTE
//CENTRADO AL CENTRO
.main-menu{
    margin-bottom: 0;
    li{
        margin-right: 1rem;
        font-size: 1.2rem;
        list-style: none;
        display: inline;
        //CAMBIAMOS EL COLOR DE LOS ENLACES PARA QUE AL PASAR SE SUBRAYE
        //DENTRO DE SU PADRE EL LI
        a{
            color: #000;
            text-decoration: none;

        //AÑADIMOS UN HOVER QUE ALCANCE AL PADRE
        //CUANDO ENTRA EN SU DIV Y CAMBIE AL HIJO 
        //CON ESTO AÑADIMOS SUBRAYADO AL PASAR click

        
            &:hover{
                text-decoration: underline;

            }
        }
        

    }
}

.icon-sm{
    i {
            color: $color-main;
            box-shadow: 0 0 10px #00000040;
            border-radius: 50%;
            font-size: 1.25rem;
            padding: 0.4rem 0.65rem;
            
        }
}

.feature{
    //CON ESTO PONEMOS EL TEXTO DEBAJO DEL ICONO  icono dentro del <div>
    flex-direction: column;
    display: flex;

    .icon{
    
        color: $color-main;
        font-size: 10rem;
        text-align: center;


    }

// CON ESTE PROCESO ANIDAMOS VARIAS VARIABLES DENTRO DE OTRAS  DE MAYOR A MENOR
.description{

    .tittle{
        font-size: 2rem;
        text-align: center;
        


    }

    .text{
        text-align: center;
        color: #888;
        font-weight: 600;

    }
}
    .cta{
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;

    }
}
//CON ESTA ESTRUCTURA CREAMOS UN ICONO CON UNA DESCRIPCION DEBAJO 
// ES MUY PRACTICA PARA CREATE ACCOUNT, Y ICONOS ILUSTRATIVOS
.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon{
        color: $color-main;
        font-size: 10rem;
        padding: 0;
        

    }
    .tittle{
        margin-top: -2rem;
        font-size: 1.5rem;


    }

}
